
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App-header{
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    min-height: 20vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: black;
    justify-content: space-between;
}

